<section class="index-page">
  <p>
    Welcome in your profile
  </p>

  <a class="loginBtn profileBtn"  href="/user/profile/settings">
    settings
  </a>
 
  <a class="loginBtn logoutBtn" href="/auth/logout">
    logout
  </a>
 
</section>