<section class="index-page">
  <p>
    Welcome in your profile
  </p>

  <button class="profileBtn">
    <a  href="/user/profile/settings">
      settings
    </a>
  </button>

  <button class="logoutBtn">
    <a  href="/auth/logout">
      logout
    </a>
  </button>
</section>